{
 :rdf-store {:type :single
             :title "RDF store"
             :desc "RDF (quad-store) where all metadata is stored. The endpoint must have support for SPARQL 1.1. Openlink's Virtuoso is the recommended option."
             :elements {:endpoint {:type :text :value "http://localhost:8890/sparql" :desc "SPARQL endpoint"}
                        :default-graph {:type :text :value "http://data.svamp.no"}
                        :auth-method {:type :options :selected :digest :options {:none "none" :basic "basic" :digest "digest"} :desc "authentication method for the SPARQL endpoint"}
                        :username {:type :text :value "noe1" :desc "username for basic/digest authentication"}
                        :password {:type :text :value "hemli" :desc "password for basic/digest authentication"}
                        :open-timeout {:type :number :value 1500 :desc "in milliseconds"}
                        :read-timeout {:type :number :value 3000 :desc "in milliseconds"}}}
 :ns {:type :multi
      :title "RDF Namespaces"
      :desc "Namespace prefixes must be defined here and are accessible to all SPARQL queries. The ID must be the same as the namespace prefix."
      :template {:prefix {:type :text :value ""}
                 :uri {:type :text :value ""}}
      :elements {:foaf {:prefix {:type :text :value "foaf"}
                        :uri {:type :text :value "http://xmlns.com/foaf/0.1/"}}
                 :dc {:prefix {:type :text :value "dc"}
                      :uri {:type :text :value "http://purl.org/dc/terms/"}}
                 :skos {:prefix {:type :text :value "skos"}
                        :uri {:type :text :value "http://www.w3.org/2004/02/skos/core#"}}}}
 :api {:type :multi
       :title "External APIs"
       :desc "URLs and credentials for external HTTP APIs."
       :template {:url {:type :text, :value ""}
                  :name {:type :text, :value ""}
                  :username {:type :text, :value ""}
                  :password {:type :text, :value ""}
                  :token {:type :text, :value "" }}
       :elements {:ol {:url {:type :text, :value "https://openlibrary.org/api/books"}
                       :name {:type :text, :value "Open Library"}
                       :username {:type :text, :value "bob"}
                       :password {:type :text, :value "bob"}
                       :token {:type :text, :value "" }}
                  :mb {:url {:type :text, :value "http://musicbrainz.org/ws/2/"}
                       :name {:type :text, :value "Musizcbrainz"}
                       :username {:type :text, :value ""}
                       :password {:type :text, :value ""}
                       :token {:type :text, :value "b8s1adnZf"}}}}
 }