[
 {:id :security
  :type :single
  :title "Security"
  :desc "This is supert important, bla bla"
  :elements [{:id :sys-admin :type :text :value "" :desc "Email adress of your system administrator"}
             {:id :debug :type :checkbox :value false :desc "Display debug information and error details in the user interface to assist in troubleshooting."}]}

 {:id :languages
  :type :single
  :title "Languages"
  :desc "Choose from the supported lanuages. You can also add your own translations, ask your sysadmin."
  :elements [{:id :intranet-lang :type :options :selected :en :desc "Language used on the staff interface " :options {:en "english" :no "norsk" }}
             {:id :public-lang :type :options :selected :en :desc "Language used on the public web interface " :options {:en "english" :no "norsk" }}
             {:id :user-lang :type :checkbox :value true :desc "Allow users to change language in the public web interface"}]}

 {:id :rdf-store
  :type :single
  :title "RDF store"
  :desc "RDF (quad-store) where all metadata is stored. The endpoint must have support for SPARQL 1.1. Openlink's Virtuoso is the recommended option."
  :elements [{:id :endpoint :type :text :value "http://localhost:8890/sparql-auth" :desc "SPARQL endpoint"}
             {:id :auth-method :type :options :selected :digest :options {:none "none" :basic "basic" :digest "digest"} :desc "authentication method for the SPARQL endpoint"}
             {:id :username :type :text :value "dba" :desc "username for basic/digest authentication"}
             {:id :password :type :text :value "dba" :desc "password for basic/digest authentication"}
             {:id :open-timeout :type :number :value 1500 :desc "in milliseconds"}
             {:id :read-timeout :type :number :value 3000 :desc "in milliseconds"}]}
 {:id :ns
  :type :multi
  :title "RDF Namespaces"
  :desc "Namespace prefixes must be defined here and are accessible to all SPARQL queries. The ID means the prefix here."
  :template {:content {:uri {:type :text :value ""}}}
  :elements [{:id :foaf
              :content {:uri {:type :text :value "http://xmlns.com/foaf/0.1/"}}}
             {:id :dc
              :content {:uri {:type :text :value "http://purl.org/dc/terms/"}}}
             {:id :svamp
              :content {:uri {:type :text :value "http://data.svamp.no/"}}}
             {:id :skos
              :content {:uri {:type :text :value "http://www.w3.org/2004/02/skos/core#"}}}]}
 {:id :data
  :type :single
  :title "Metadata options"
  :desc "Various configurations"
  :elements [{:id :default-graph :type :text :value "http://data.svamp.no" :desc "all public metadata is published to this graph"}
             {:id :drafts-graph :type :text :value "http://data.svamp.no/drafts" :desc "drafts (not public) are published to this graph"}
             {:id :default-lang :type :text :value "no" :desc "default language for literals when no other tag is supplied"}]}
 {:id :api
  :type :multi
  :title "External APIs"
  :desc "URLs and credentials for external HTTP APIs."
  :template {:content { :url {:type :text, :value ""}
                       :name {:type :text, :value ""}
                       :username {:type :text, :value ""}
                       :password {:type :text, :value ""}
                       :token {:type :text, :value "" }}}
  :elements [{:id :ol
              :content {:url {:type :text, :value "https://openlibrary.org/api/books"}
                        :name {:type :text, :value "Open Library"}
                        :username {:type :text, :value "bob"}
                        :password {:type :text, :value "bob"}
                        :token {:type :text, :value "" }}}
             {:id :mb
              :content {:url {:type :text, :value "http://musicbrainz.org/ws/2/"}
                        :name {:type :text, :value "Musizcbrainz"}
                        :username {:type :text, :value ""}
                        :password {:type :text, :value ""}
                        :token {:type :text, :value "b8s1adnZf"}}}]}
 ]
