{
 :rdf-type "http://data.deichman.no/format/Book"
 :label "Book"
 :desc "a physical or digital manifestation of a literary work."
 :groups [
          {:title "Identificators and relations"
           :elements [
                      {:required false
                       :repeatable false
                       :rdf-type :string
                       :input-type :single
                       :property {:label "ISBN"
                                  :desc "ISBN-number"
                                  :predicate "bibo:isbn"}}
                      {:required false
                       :repeatable true
                       :rdf-type :uri
                       :input-type :single
                       :property {:label "SameAs"
                                  :desc "URI describing the same book."
                                  :predicate "owl:sameAs"}}
                      {:required true
                       :repeatable false
                       :rdf-type :uri
                       :input-type :single
                       :property {:label "Work"
                                  :desc "The work which this book is a manifestation of. Must be created if it doesn't exist."
                                  :predicate "fabio:isManifestationOf"}}]}
          {:title "Publication data"
           :elements [
                      {:required true
                       :repeatable false
                       :rdf-type :string
                       :input-type :single
                       :property {:label "Title"
                                  :desc "Title of the book"
                                  :predicate "dc:title"}}
                      {:required false
                       :repeatable false
                       :rdf-type :string
                       :input-type :single
                       :property {:label "SubTitle"
                                  :desc "Subtitle"
                                  :predicate "svamp:subtitle"}}
                      {:required false
                       :repeatable false
                       :rdf-type :uri
                       :input-type :single
                       :property {:label "Publisher"
                                  :desc "The publisher of the book"
                                  :predicate "dc:publisher"}}
                      {:required false
                       :repeatable false
                       :rdf-type :integer
                       :input-type :single
                       :property {:label "Publication year"
                                  :desc "Publichation year"
                                  :predicate "dc:date"}}]}
          {:title "Creator(s)"
           :elements [
                      {:required false
                       :repeatable true
                       :input-type :multi
                       :rdf-type :uri
                       :properties [
                                    {:label "author"
                                     :prediacte "dc:creator"
                                     :desc "Author of the book or a substantial parts of it."}
                                    {:label "Translator"
                                     :predicate "dc:translator"
                                     :desc "Translator"}
                                    {:label "illustrator"
                                     :predicate "dc:illustrator"
                                     :desc "Illustrator"}
                                    {:label "editor"
                                     :predicate "dc:editor"
                                     :desc "Editor"}
                                    {:label "contributor"
                                     :predicate "dc:contributor"
                                     :desc "Contributor"}]}]}
          {:title "Classification"
           :elements [
                      {:required false
                       :repeatable true
                       :input-type :single
                       :rdf-type :uri
                       :property {:label "Dewey"
                                  :desc "Call number in the Dewey decimal system."
                                  :predicate "deich:dewey"}}
                      {:required false
                       :repeatable true
                       :rdf-type :uri
                       :input-type :single
                       :property {:label "Subject"
                                  :desc "A subject describing the book"
                                  :predicate "dc:subject"}}]}
          {:title "Content"
           :elements [
                      {:required false
                       :repeatable true
                       :input-type :single
                       :rdf-type :string
                       :property {:label "Description"
                                  :desc "bla bla about the book"
                                  :predicate "dc:description"}}
                      {:required false
                       :repeatable true
                       :input-type :single
                       :rdf-type :string
                       :property {:label "Abstract"
                                  :desc "Short summary of the book"
                                  :predicate "dc:abstract"}}
                      {:required false
                       :repeatable true
                       :input-type :single
                       :rdf-type :string
                       :property {:label "Quote"
                                  :desc "Quotation from the book"
                                  :predicate "svamp:quote"}}]}
          ]
 }
