{
 :rdf-type "http://www.w3.org/2004/02/skos/core#Concept"
 :label "Dewey"
 :desc "a location in the Dewey decimal system."
 :groups [
          {:title ""
           :elements [
                      {:id :location
                       :label "Location"
                       :desc "The number in the system."
                       :required true
                       :repeatable false
                       :value-template {:value "" :predicate "skos:notation" :type :string}}
                      {:id :label
                       :label "Label"
                       :required true
                       :repeatable true
                       :value-template {:value "" :predicate "skos:prefLabel" :type :string}}
                      {:id :subject
                       :label "Subject"
                       :desc "Subject describing this Dewey location."
                       :required false
                       :repeatable true
                       :value-template {:value "" :predicate "dc:subject" :type :uri}
                       :create-new {:label "Subject" :template "subject.edn"}}
                      {:id :narrower
                       :label "Narrower location"
                       :required false
                       :repeatable true
                       :value-template {:value "" :predicate "skos:narrower" :type :uri}
                       :create-new {:label "Dewey" :template "dewey.edn"}}
                      {:id :broader
                       :label "Broader location"
                       :required false
                       :repeatable true
                       :value-template {:value "" :predicate "skos:broader" :type :uri}
                       :create-new {:label "Dewey" :template "dewey.edn"}}
                      ]}]
 }